.container {
    background-color: rgb(52, 76, 68);
    display: flex;
}

.div-rojo {
    background-color: red;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: block;
    padding: 15px;
    margin: 15px;
}

.div-verde {
    background-color: green;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: block;
    padding: 15px;
    margin: 15px;
}

.div-azul {
    background-color: blue;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: block;
    padding: 15px;
    margin: 15px;
}

.span-rojo {
    background-color: red;
    border: 2px solid black;
    display: inline;
    padding: 15px;
    margin: 15px;
}

.span-verde {
    background-color: green;
    border: 2px solid black;
    display: inline;
    padding: 15px;
    margin: 15px;
}

/* 
Si yo utilizo width, le doy un valor fijo al contenedor, en cambio si yo le pongo max-width l estoy dando un maximo que puede tomar el contenedor, pero es flexible para tomar un valor inferior al especificado, por lo que hace que una pagina sea inteligente al cambio de tamaño (responsive).

La diferencia entre display: none; y visibility: hidden; es que en el primero no se renderiza el elemento, mientras que en el segundo si lo hace, pero permanece oculto.
*/