div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s, height 2s, transform 2s;
    margin: 1px;

}

div:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.velocidad1 {
    transition-timing-function: linear;
}
.velocidad2 {
    transition-timing-function: ease;
}
.velocidad3 {
    transition-timing-function: ease-in;
}
.velocidad4 {
    transition-timing-function: ease-out;
}
.velocidad5 {
    transition-timing-function: ease-in-out;
}

.button {
    width: 150px;
    height: 50px;
    background-color: rgb(47, 47, 195);
    margin: 1px;
    transition: background-color 1s;

}

.button:hover {
    background-color: rgb(123, 123, 202);
}